@mixin headings {
	color: $heading-color;
	font-weight: $heading-font-weight;
	font-family: $heading-font-family;
	line-height: $heading-line-height;
	letter-spacing: $heading-letter-spacing;
	margin: 0.5rem 0;
}

@mixin parragraphs {
	color: $p-color;
	font-weight: $p-font-weight;
}
