/* -------------------------------------------------------------------------- */
/*                          Variables for the libray                          */
/* -------------------------------------------------------------------------- */

//
// Typography
//

// Headings

$heading-color: #333;
$heading-font-weight: bold;
$heading-family: Verdana, Arial, sans-serif;

$heading-line-height: 1.5rem;
$heading-letter-spacing: 0.1rem;

$h1-size: 3rem;
$h2-size: 2.25 rem;
$h3-size: 1.5 rem;
$h4-size: 1.125rem;
